* {
    box-sizing: content-box;
  margin: 0;
}

body {
    background-image: url("./images/bench-accounting-nvzvOPQW0gc-unsplash.jpg");
    background-position:center; 
    background-repeat: no-repeat; 
    background-size:cover;
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #12a4d9;
  color: rgb(10, 10, 10);
}

section {
  margin:10%;
  padding-bottom: 40px;
  text-align: center;
  font-size: 170%;
}

.skills{
  padding-bottom: 40px;
  font-size: 170%;
  margin-left: 42%;
  margin-bottom:10% ;
}

.intrest{
  margin-top: 10%;
  padding-bottom: 40px;
  text-align: center;
  font-size: 230%;
}

h2{
    text-decoration:underline;
    padding-bottom: 20px;
}
header {
  padding: 30px;
  background-color: rgb(14, 13, 13);
  color: white;
  text-align: center;
  font-family: cursive;
  background-attachment: fixed;
}
.navbar {
  text-align: center;
  padding: 15px;
  color: whitesmoke;
  background-color:#0d1137;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 125%;
  position: sticky;
}
#myname {
    text-decoration: underline ;
    padding-left: 60px;
    text-align: center;
  float: left;
  font-size: 150%;
    padding-top: 100px;
  
}
 a {
  color: rgb(245, 237, 237);
  padding-right: 10%;
  text-decoration: none;
}

.navbar a:hover {
  color: #f05e83;
    text-transform: capitalize;
}

.myphoto{
  border: #12a4d9;
  border-width: 33%;
}

#img {
  background-color: black;
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: 200px;
  width: 20%;
  border-style: double;
  border: brown;
  border-radius: 2%;
  border-image-outset: 100px;
  padding: 2px;
}

#aboutme {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: normal;
  font-size: 140%;
}

.dropbtn {
  background-color: #0d1137;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 100%;

}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: rgb(24, 13, 13);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.dropdown-content a:hover {
    background-color: #ddd;
  }


.dropdown:hover .dropdown-content {
  display: block;
}

footer{
  text-align: center;
}

